.node {
    stroke: ##454545;
    stroke-width: 1px;
    opacity: 0.8;
    stroke-opacity: 1;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 2;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 12px;
    color: black;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}